#logo {
    width: 110px;
    height: 82px;
    position: relative;
    margin-left: 77px;
    margin-top: 10px;
}

img {
    width: 300px;
}

h2 {
    color: #5882FA;
}

p {
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-size: 17px;
}

#login-buttons{
    margin:18px;
    font-size: 14px;
}

#homeBackground{
    background: #ffffff;
    width: 100%;
    margin-left: 80px;
}

.row {
    margin-right: 80px;
    margin-left: 80px;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.form-group {
    margin-left: 80px;
    margin-right: 80px;
}

#descriptionText{
    color: #000000;
}

.navbar-default {
    background-color: #ffffff;
    padding-bottom: 30px;
    border-color: #120270;
}
.navbar-default .navbar-brand {
    color: #5882FA;

}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000000;
}
.navbar-default .navbar-text {
    color: #000000;
}

.navbar-default .navbar-nav {
    padding-left: 797px;
    position: fixed;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #5882FA;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-top: 47px;
    padding-left: 20px;
    padding-bottom: 40px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000000;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #000000;
}

.navbar-default .navbar-link:hover {
    color: #000000;
    background-color: lightgray;
}
