html, body {
    height: 100%;
}

#happy-img {
    position: absolute;
}

#title {
    z-index: 1;
    position: absolute;
    float: left;
    text-align: center;
    padding: 50px;
    margin-top: 120px;
    width: 100%;
}

#title h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: white;
}

#about {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    padding: 0 80px 50px 80px;
}

#aboutus > h1 {
    color: #5882FA;
    margin-bottom: 30px;
}

#community {
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 180px;
    padding-bottom: 250px;
    margin: -18px -15px 25px -15px;
    text-align: center;
    background: -webkit-linear-gradient(left top, #5882FA , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #5882FA, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #5882FA, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #5882FA , white); /* Standard syntax */
}

#comunity2 {
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 200px;
    padding-bottom: 250px;
    margin: -18px -15px 25px -15px;
    text-align: center;
    color: #5882FA;
    margin-top: 200px;
}

.row #community2 {
    margin-bottom: 100px;
}

#community > h1 {
    color: white;
    font-size: 75px;
    margin-left: 80px;
    margin-right: 80px;
}

#community > p {
    text-align: center;
    margin-top: 50px;
}

#community2 > h1 {
    color: #5882FA;
    font-size: 75px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

#community2 > p {
    text-align: center;
    margin-top: 50px;
}

#started {
    color: white;
    font-size: 30px;
    border-radius: 6%;
    padding: 8px;
    background-color: #5882FA;
    margin-bottom: 500px;
}

#started:hover {
    opacity: 0.5;
}

#main-image {
    width: 102.3%;
    margin-left: -15px;
    margin-top: -20px;
}

#home-page {
    width: 100%;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #5882FA;
    margin-bottom: 40px;
    margin-right: 25px;
}

#cent {
    text-align: center;
    margin-bottom: 300px;
}

#centering {
    text-align: center;
    margin-top: 100px;
}

ul {
    list-style-type: none;
    margin-left: -40px;
}

.mentor-list p {
    text-align: center;
}

#profile-hr {
    margin-top: 25px;
    margin-bottom: 10px;
    width: 80%;
}

.separation {
    margin-top: 10px;
}

#sent {
    width: 60px;
}

#profile_blurb {
    resize: none;
}

#tags-hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.result-image {
    border-radius: 50%;
    float: left;
    width: 70px;
    margin-top: -5px;
}

#username-result {
    margin-left: 15px;
    margin-right: 20px;
    margin-top: -10px;
    float: left;
}

option:hover,
option:focus {
    background-color: lightgray;
    border-radius: 6%;
    cursor: pointer;
}

.list-group {
    position: absolute;
}

.list-group-item {
    z-index: 1;
    margin-left: 40px;
    width: 100%;
    height: 50px;
}

.list-group-item > img {
    width: 35px;
    margin-bottom: 5px;
}

#add-user {
    width: 20px;
    float: right;
    margin-left: 10px;
    cursor: pointer;
}

#remove-user {
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    top: -22px;
    left: 100px;
}

#msg-user {
    width: 20px;
    float: right;
    cursor: pointer;
}

#msg-photo {
    /*border-radius: 50%;*/
    width: 80px;
    cursor: pointer;
}

#msg-prof {
    width: 25px;
    position: relative;
    left: 113px;
    top: -2px;
}

#display-msg {
    width: auto;
    height: 100px;
    cursor: pointer;
}

#search-icon {
    width: 30px;
    float: right;
    position: relative;
    top: -22px;
    left: -15px;
    margin: -10px;
}

.tagIcons {
    width: 20px;
    float: right;
}

#plusIcon {
    position: relative;
    top: -18px;
    left: -40px;
    margin: -10px;
    cursor: pointer;
}

#minusIcon {
    float: right;
    position: relative;
    top: -18px;
    left: -15px;
    margin: -10px;
    cursor: pointer;
}

.label-info {
    margin-left: 5px;
}

.btn-warning {
    float: left;
    white-space: normal;
    line-height: normal;
}
.btn-success{
    float:right;
}

#logo {
    width: 70px;
    position: relative;
}

#github_icon{
    width:10%;
    height:10%;
}

.thumbnail {
    width: 20%;
    display: inline-block;
    border: none;
    text-align: center;
}

.thumbnail > img {
    border-radius: 50%;
    width: 100px;
}

#check-mark {
    width: 30px;
    cursor: pointer;
    float: left;
}

#check-mark:hover {
    background-color: lightgray;
}

#reject {
    width: 30px;
    cursor: pointer;
    float: right;
}

#reject:hover {
    background-color: lightgray;
}

#logo-footer {
    width: 100px;
    position: relative;
    margin-left: 30px;
}

#copy {
    margin-left: 40px;
}

#avatar {
    width: 130px;
    border-radius: 50%;
    margin-top: 15px;
}

#avatar-search {
    border-radius: 50%;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 100px;
}

#link {
    margin-left: 30px;
}

#searchBox {
    padding-top: 8px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#list-filters > p {
    font-size: 20px;
    text-align: center;
    margin-left: -10px;
}

.bold {
    font-weight: bold;
}

#editProfile {
    text-align: center;
}

#information {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: #5882FA;
    margin-top: 20px;
    text-align: center;
    padding-right: 150px;
    margin-left: 230px;
}

#mentees {
    position: relative;
    left: 50px;
}

#twitter {
    width: 20px;
    position: relative;
    left: 100px;
    top: -2px;
    background: none;
    cursor: pointer;
}

#linkedin {
    width: 20px;
    position: relative;
    left: 105px;
    top: -2px;
    cursor: pointer;
}

.buttons {
    padding-top: 20px;
    padding-bottom: 20px;
}

.buttons > a {
    cursor: pointer;
    font-size: 20px;
}

.navbar-default {
    background-color: #f8f8f8;
    width: 102.2%;
    margin-left: -15px;
    margin-top: -100px;
    margin-bottom: -20px;
    border-radius: 0;
    top: 0;
    z-index: 2;
}

.navbar-header {
    margin-bottom: 15px;
}

.navbar-nav {
    margin-top: 18px;
}

.navbar-default .navbar-nav > li {
    padding-top: 0;
    padding-left: 8px;
}

.navbar-default .navbar-nav > li > a {
    color: #5882FA;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: lightgrey;
}

.container {
    width: 90%;
    background-color: white;
    margin-top: 100px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    height: 60%;
}

.action-field p {
    text-align: center;
    padding-left: -20px;
}

#action-field2 p {
    position: static;
    margin-bottom: -5px;
}

#action-field2 {
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
    padding: 15px 50px 25px 20px;
    width: 70%;
}

.side-by-side {
    float: left;
    margin: 25px;
}

.text-danger {
    float: left;
    padding-bottom: 10px;
}

#profile-pic {
    width: 130px;
    border-radius: 50%;
}

.specialButton {
    margin: 40px 8px;
    font-size: 25px;
}

#profile {
    border: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: lightgrey;
    float: left;
}

.col-xs-6 {
    width: 50%;
    height: 100%;
    position: static;
}

#msg-display {
    width: 50%;
}

#msgnew {
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}

#addBorder {
    width: 23%;
    margin-left: 40px;
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
}

#search-page {
    width: 23%;
    margin-left: 40px;
}

#search-div {
    padding-bottom: 20px;
}

h2, a {
    color: #5882FA;
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    font-size: 18px;
}

a:focus, a:hover {
    text-decoration: none;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: justify;
    font-size: 24px;
}

.form-group {
    margin-left: 80px;
    margin-right: 80px;
}

.form-control {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

.btn {
    text-align: left;
}

input[type=file] {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: transparent;
    font-size: 16px;
    width: 50%;
}

input[type=file]:focus {
    outline: none;
}

input[type=submit], .btn-default, .btn-danger, .btn-warning, .btn-success {
    width: 115px;
    height: 40px;
    background: #5882FA;
    border-color: #5882FA;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position: static;
}

.btn-primary {
    width: inherit;
}

button {
    width: inherit;
    height: inherit;
    background: white;
    border-color: #5882FA;
    text-align: center;
    border-radius: 5px;
    color: #5882FA;

}

.input-group-btn .btn-info {
    width: 100%;
    background: #5882FA;
    border: #5882FA;
}

.panel-body {
    background-color: transparent;
}

.panel-footer {
    background-color: transparent;
    border-top: none;
}

.radio-input {
    padding-left:20px;
}

#radio-buttons {
    float: left;
    width: 100%;
    margin: 5px;
    position:static;
}

.col-md-4 {
    position:static;
}

.col-md-3 > ul > li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
}

.col-md-3 > ul > li > a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
    color: black;
}

.col-md-3 > ul > li > a:hover {
    color: #5882FA;
}

#footer {
    position: absolute;
    width:90%;
    height: 10%;
}

#connect {
    font-weight: bold;
}

.floatRight {
    float: right;
}

@media screen and (max-width: 990px) {
    @viewport {
        width: 900px;
    }
    .col-md-offset-1 {
        margin-left: 10%;
    }
}

#meerkat {
    width: 150px;
    text-align: center;
    margin-left: -25px;
}

@media (min-width: 992px) {
    .col-md-2 {
        width: 75%;
    }
    #cent {
        margin-bottom: 200px;
    }
    #centering {
        margin-top: 100px;
    }
    #home-page {
        margin-top: 25px;
    }
    #postAdvice {
        width: 930px;
    }
    #advices {
        width: 930px;
        font-size: 20px;
    }
    #community {
        width: 102%;
    }
    #mainsearch {
        height: 800px;
    }
}

@media (max-width: 750px) {
    .navbar-default {
        width: 108%;
    }
    #home-page {
        width: 100%;
        margin-top: 10px;
    }
    #information {
        width: 375px;
        margin-left: 20px;
    }
    #action-field2 {
        padding: 0;
        width: 100%;
    }
    .side-by-side {
        width: 100%;
    }
    #profile-pic {
        margin-left: 175px;
    }
    .col-md-2 > h2 {
        margin-top: 250px;
    }
    #searchBox {
        padding-right: 0;
    }
    #images {
        padding-left: 50px;
    }
    .floatLeft {
        margin-bottom: 35px;
    }
    #addBorder {
        width: 80%;
        margin-bottom: 15px;
    }
    #remove-user {
        margin-left: 0;
        left: 70px;
    }
    .thumbnail {
        width: 90px;
    }
    .col-xs-6 {
        width: 100%;
    }
    #github_icon {
        width: 25px;
    }
}

#delete {
    cursor: pointer;
}

#advices {
    font-family: 'Open Sans Condensed', sans-serif;
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
    padding: 45px 50px 35px 50px;
}

#put-bottom > h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin-left: 230px;
}

#put-bottom > p {
    margin-left: 230px;
}

#action-field2 > h2 {
    position: static;
}

/*Password strength*/
.strengthLevelNone {
    background-color: rgb(48, 48, 48);
}
.strengthLevelLow {
    background-color: rgb(179, 58, 58);
}
.strengthLevelMedium {
    background-color: rgb(216, 72, 48);
}
.strengthLevelHigh {
    background-color: rgb(240, 120, 48);
}
.strengthLevelStrong {
    background-color: rgb(240,144,48);
}
.strengthLevelBar {
    border-radius: 1px;
    display: inline-block;
    height: 10px;
    margin-right: 1px;
    width: 22%;
}
.strengthLevelText {
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

.container {
    width: auto;
}

.textarea {
    width: 360px;
    outline: none;
    min-height: 20px;
    padding: 0;
    box-shadow: none;
    display: block;
    border: 2px solid black;
    overflow: hidden;
    transition: height 0.2s ease;
}

.textarea--ghost {
    opacity: 0.3;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    visibility: hidden;
    position: absolute;
    top: 0;
}

#images{
    position: relative;
    margin: 10px -15px 0 -15px;
    margin-bottom: 25px;
}

#images h2 {
    color: #5882FA;
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    padding-top: 25px;
}

.floatLeft {
    float: left;
    margin-left: 25px;
    margin-bottom: 25px;
    position: relative;
    display: block;
}

#photos li{
    display: inline;
    align-content: center;
    border: solid;
    border-width: 1px;
    border-color: #5882FA;
    background: white;
    padding: 30px;
    height: 345px;
    width: 222px;
    position: relative;
}

@media (min-width: 992px) {
    #github_icon {
        width: 25px;
    }
    #remove-user {
        left: 150px;
    }
}

@media (min-width: 1600px) {
    .col-md-offset-1 {
        margin-left: 10%;
    }
    .floatLeft {
        margin-left: 5%;
    }
}

#photos li > h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #5882FA;
}

#photos li > p {
    color: #5882FA;
    text-align: center;
}

.imagesSec{
    border-radius: 50%;
    width: 150px;
}


.circular {
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    width: 20%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%,
    50% {
        stroke: #5882FA;
    }
}

#space {
    margin-right: 180px;
    margin-bottom: 25px;
}

#welcome {
    margin-top: 55px;
    margin-left: 80px;
    margin-right: 80px;
}

#welcome > h2,
#welcome > p {
    text-align: center;
}

#post {
    height: 34px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 1px;
    right: 0;
    background-color: #5882FA;
    overflow: hidden;
    width: 222px;
    margin-bottom: -1px;
    margin-left: -2px;
    transition: .5s ease;
}

.floatLeft:hover .overlay {
    opacity: 0.9;
    height: 345px;
    cursor: default;
}

.overlay > p {
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    padding: 90px 10px 0 5px;
}
