html, body {
    height: 100%;
}

ul {
    list-style-type: none;
}

.mentor-list p {
    text-align: center;
}

#profile-hr {
    margin-top: 25px;
    margin-bottom: 10px;
    width: 80%;
}

#sent {
    width: 60px;
}

#profile_blurb {
    resize: none;
}

#tags-hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.result-image {
    border-radius: 50%;
}

#search-icon {
    width: 30px;
    float: right;
    position: relative;
    top: -22px;
    left: -15px;
    margin: -10px;
}

#logo {
    width: 98px;
    height: 70px;
    position: relative;
    padding-left: 10px;
    margin-right: -5px;
    margin-left: 20px;
}
#github_icon{
    width:10%;
    height:10%;


}
#logo-footer {
    width: 94px;
    height: 77px;
    position: relative;
}

#avatar {
    width: 130px;
    border-radius: 50%;
    margin-top: 15px;
}

#searchBox {
    padding-top: 8px;
    padding-right: 330px;
    padding-left: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#searchBox-dashboard {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    float: right;
}

.buttons {
    padding-bottom: 20px;
}

.navbar-default {
    position: fixed;
    background-color: #f8f8f8;
    width: 100%;
    margin-left: -15px;
    border-radius: 0;
    top: 0;
    z-index: 2;
}

.navbar-nav {
    margin-top: 18px;
}

.navbar-default .navbar-nav > li {
    padding-top: 0;
    padding-left: 8px;
}

.navbar-default .navbar-nav > li > a {
    color: #5882FA;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: lightgrey;
}

.container {
    width: 100%;
    background-color: white;
    margin-top: 100px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    height: 60%;
}

.action-field p {
    text-align: center;
    padding-left: -20px;
}

#action-field2 p {
    position: static;
    margin-bottom: -5px;
}

#action-field2 {
    border: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: lightgrey;
    padding: 15px 50px 25px 20px;
    width: 70%;
}

.side-by-side {
    float: left;
    margin: 25px;
}

.text-danger {
    float: left;
    padding-bottom: 10px;
}

#profile-pic {
    width: 130px;
    border-radius: 50%;
}

#profile {
    border: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: lightgrey;
    float: left;
}

.col-xs-6 {
    width: 65%;
    height: 100%;
    position: static;
}

#addBorder {
    width: 23%;
    margin-left: 40px;
    border: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: lightgrey;
}

h2, a {
    color: #5882FA;
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    font-size: 18px;
}

a:focus, a:hover {
    text-decoration: none;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: justify;
    font-size: 24px;
}

.form-group {
    margin-left: 80px;
    margin-right: 80px;
}

.form-control {
    font-size: 18px;
}

input[type=submit], .btn-default, .btn-danger, .btn-success {
    width: 115px;
    height: 40px;
    background: #5882FA;
    border-color: #5882FA;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position: static;
}

.btn-primary {
    width: inherit;
}

button {
    width: inherit;
    height: inherit;
    background: white;
    border-color: #5882FA;
    text-align: center;
    border-radius: 5px;
    color: #5882FA;
}

.radio-input {
    padding-left:20px;
}

#radio-buttons {
    float: left;
    width: 100%;
    margin: 5px;
    position:static;
}

.col-md-4 {
    position:static;
}

.col-md-3 > ul > li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
}

.col-md-3 > ul > li > a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
    color: black;
}

.col-md-3 > ul > li > a:hover {
    color: #5882FA;
}

#footer {
    position:static;
    width:100%;
}

#connect {
    font-weight: bold;
}

.floatRight {
    float: right;
}

#put-bottom > h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin-left: 230px;
}

#put-bottom > p {
    margin-left: 230px;
}

#action-field2 > h2 {
    position: static;
}

/*Password strength*/
.strengthLevelNone {
    background-color: rgb(48, 48, 48);
}
.strengthLevelLow {
    background-color: rgb(179, 58, 58);
}
.strengthLevelMedium {
    background-color: rgb(216, 72, 48);
}
.strengthLevelHigh {
    background-color: rgb(240, 120, 48);
}
.strengthLevelStrong {
    background-color: rgb(240,144,48);
}
.strengthLevelBar {
    border-radius: 1px;
    display: inline-block;
    height: 10px;
    margin-right: 1px;
    width: 22%;
}
.strengthLevelText {
    display: inline-block;
    font-size: 0.9em;
}